.about-container {
    background-color: var(--bg-secondary-color);
}

.about-container li {
    line-height: 1.8rem;
}

.about-container i {
    color: var(--secondary-color);
    margin-right: .75rem;
}

@media(min-width: 768px) and (max-width: 992px) {
    .about-container img {
        margin-top: 6.5rem;
    }
}