.header-container {
    background-color: var(--bg-primary-color);
}

.header-container .navbar-brand img {
    width: 65px;
    margin-left: .3rem;
}

.header-container .navbar-toggler {
    border: none;
}

.header-container .navbar-toggler i {
    color: #fff;
}