.slider-container .carousel-item img {
    height: 41rem;
    object-fit: cover;
}

.slider-container .carousel-caption {
    height: 41rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 5%;
}

.slider-container .carousel-caption p {
    color: #fff;
    font-weight: 300;
}

.btn-slider {
    background-color: var(--secondary-color);
    border: 3px solid transparent;
}

.btn-slider:hover {
    background-color: transparent;
    border-color: var(--secondary-color);
}

.carousel-indicators .active {
    background-color: var(--secondary-color);
}