@import url("./header.css");
@import url("./slider.css");

/* Variables */
:root {
    --bg-primary-color: #353D41;
    --primary-color: #444;
    --secondary-color: #65DAF9;

    --font: 'Roboto', sans-serif;
}

/* General Styles */
* {
    font-family: var(--font);
    color: var(--primary-color);
    font-size: 1rem;
}